.hidden {
    display: none;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
}

header {
    background-color: #EC1831;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.header-button {
    height: 40px;
    width: 100px;
    border: 2px solid #fff;
    background: #EC1831;
    margin-left: 10px;
}

input#buscar {
    height: 40px;
    width: 400px;
    border-radius: 30px;
    border: 2px solid #fff;
    outline: none;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .header-button {
        width: 100%; 
        margin-bottom: 10px; 
        border: 2px solid #fff;
        background: #EC1831;
    }

    input#buscar {
        width: 100%;
        margin-bottom: 10px;
        border: 2px solid #fff;
    }
}

.alert {
    margin-top: 20px;
}

.table td, .table th {
    text-align: center;
}

.modal-content {
    border: 3px solid #EC1831;
    border-radius: 10px;
    text-align: center;
}

.modal-header {
    background-color: #EC1831;
    color: #fff;
}

.btn {
    margin-right: 3px;
}
