/*-----------------------------------------------------Etiquetas generales*/
body{
    
    background-image: url('../imagenes/casa.jpg');
    background-color: black;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    overflow-x:auto;
    overflow-y:auto;
    color:black;
    font-family:'Opens Sans',helvetica;  
    font-weight: bolder;
    height:100%;
    width: 96%;
    margin:10px;
    padding: 30px;
}
ul{
    list-style: none;
}
input{
    padding: 10px;
    border-radius: 30px;
    border-color: #ee3048;
}
button{
    cursor: pointer;
    padding: 15px;
    border: 0px;
    border-radius: 30px;
    font-size:large;
    font-weight: bold;
}
select{
    padding: 10px;
    border-radius: 30px;
    border-color: #ee3048;
}
/*----------------------------------------------------Barra de navegacion*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.btn-login{
    margin: 5px;
    background-color: #ffffff;
    color: #ee3048;
    font-size:small;
    width: 160px;
}
.btn-menu{
    margin: 5px;
    background-color: #ee3048;
    color: #ffffff;
    font-size:small;
    width: 120px;

}
.contenedor-menu{
    float: right;
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 450px;
    border-radius: 20px;
    text-align: right;
}
.contenedor-menu a{
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: none;

}
/*----------------------------------------------------Formulario de busqueda*/
.contenedor-busqueda{
    margin: 2px;
    width: 650px;
    
    
}
.contenedor-busqueda input{
    margin-bottom: 15px;
}
.op-busqueda{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.op-busqueda button{
    margin-bottom: 20px;
    padding: 20px;
    width: 200px;
    color: #ee3048;
    font-size: 20px;
    
}
.form-busqueda{
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
}
.checkbox-container{
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-filtro{
    background-color: #ee3048;
    color: #ffffff;
    font-size: 12px;
}
.select-tipo{
    margin-bottom: 10px;
    width: 100%;
}
.btn-ubicacion{
    margin-bottom: 10px;
    width: 567px
}
.inputs-container{
    display: flex;
    flex-direction: column;
}
.inputs-container .col{
    width: 50%;
}
.inputs-container input{
    width: 100%;
}
.btn-buscar{
    padding: 15px;
    background-color: #ee3048;
    color: #ffffff;
    width: 100%;
}

