html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

button{
    height: 60px;
    width: 70%;
    border-radius: 20px;
    margin-left: AUTO;
    margin-right: AUTO;
    margin-bottom: 50px;
}

.contenido {
    display: flex;
}

.pantalla-control {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;
}

.img-habitacion {
    height: 100vh;
    position: relative;
    display: flex;
    width: 50%;
    overflow: hidden;
    display: block;
    
}
.img-habitacion img {
    height: 120%;
}

.contactos button {
    background-color: #EC1831;
    border-color: #F41922;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.propiedades button {
    background-color: #EC1831;
    border-color: #F41922;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.perfil button {
    background-color: #EC1831;
    border-color: #F41922;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.img-logo {
    text-align: center;
}

.img-logo img {
    display: block;
    margin: 50px auto;
}