.hidden {
    display: none;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ee3048;
    color: #fff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 50px;
    margin: 0;
}

.logo img {
    width: 200px;
    height: auto;
    margin-right: 95px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
}

.button {
    height: 40px;
    width: 100px;
    border: none;
    outline:none;
    background: #ee3048;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 16px;
    padding-top: 20px;
    margin-left: 30px;
    color:#fff;
}

.inputBuscar {
    height: 40px;
    width: 400px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 30px;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-top: 20px;
}

.header-links li {
    font-size: 16px;
}

.header-links a {
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
}

.alert {
    margin-top: 20px;
}

.table td, .table th {
    text-align: center;
}

.modal-content {
    border: 3px solid #ee3048;
    border-radius: 10px;
    text-align: center;
}

.modal-header {
    background-color: #ee3048;
    color: #fff;
}

.btn {
    margin-left: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .header-links {
        flex-direction: column;
        gap: 10px;
    }

    .header-links li {
        font-size: 14px;
    }
}