html, body, header, footer {
    margin: 0;
    padding: 0;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
}


#busqueda {
    height: 80vh;
}

.container-fluid {
    padding: 5%;
    border: 2px solid #ee3048;
    background-color: #ee3048;
    border-right: none;
    margin: 5%;
    width: auto;
    border-radius: 10px 0 0 10px ;
    margin-right: -12px;
    height: 90%;
}


.mapa {
    margin: 5% 5% 5% -12px;
    height: 100%;

}
.mapa iframe {
    border-radius: 0 10px 10px 0;
    height: 90%;
}

@media (max-width: 768px) {
    .mapa, .container-fluid {
        margin: 0;
        border-radius: 0;
    }
    .mapa {
        margin-top: -5  c0px;
        height: 280px;
    }

    .container-fluid {
        border: 2px solid #ee3048;
        margin-bottom: 5%;
    }
    .mapa iframe {
        border-radius: 0;
    }
}

.card-deck {
    width: 96.5%;
    margin: auto;
}

#boton-buscar {
    background-color: white;
    color: black;
}

#boton-buscar:hover {
    background-color: #ee3048;
    border-color: white;
    color: white;
}


#logo-bienvenida {
    width: 500px;
    height: auto;
    margin: 40px auto 40px auto;
}

#bienvenida {
    padding: 5%;
    padding-top: 1%;
    font-size: 24px;
    font-weight: 100;
    color: gray;
}

h2 {
    font-weight: 100;
}
