/* Cuerpo y html */

html, body, header, footer{
    margin: 0;
    padding: 0;
}



/* css generales para la navbar */
.navbar {
    
    background-color: #ee3048;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 50px;
    margin: 0;
    
}

/* css para el logotipo */
.logo img {
    width: 200px;
    height: auto;
}

/* css para la lista de enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-top: 20px;
}

.nav-links li {
    font-size: 16px;
}

.nav-links a {
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
}

/* css para el menú desplegable */
.dropdown {
    position: realtive;
    
    
}
.dropdown-content a {
    color: gray;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 1;
    list-style: none;
    padding: 0;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 10px 20px;
}

/* Cambia el color de fondo de los elementos del menú desplegable al pasar el ratón sobre ellos */
.dropdown-content li:hover {
    background-color: #ee3048;
    color: white;
}

.dropdown-content li a:hover {
    background-color: #ee3048;
    color: white;
}

.nav-links a:hover {
    color: #711622;
}


.dropdown-content {
    width: 250px;
}

/* Footer */

footer {
    height: 500px;
    background-color: #ee3048;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 150px 40px 0 40px;
}

.footer-img {
    width: 400px;
}

.footer-realty-logo img {
    width: 200px;
}

.contacto {
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;

}

.contacto p {
    margin: 0;
    font-weight: 100;
}


.redes img {
    width: 30px;
    margin: 20px 45px 0 0;
    padding:0;
    
}

.recursos {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    font-weight: 100;
    color: white;
    font-size: 14px;
}

.recursos div {
    margin: 0 15px 0 15px;
}

.recursos h3 {
    font-weight: 100;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .footer-img {
        text-align: center;
    }

    .redes img {
        margin: 15px;
    }

    .recursos {
        margin-top: 60px;
    }
}
